modules = ["nodejs-20"]
[agent]
mockupState = "PENDING"

[workflows]

[[workflows.workflow]]
name = "otd"
mode = "sequential"
author = 52835609

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 8080